<mat-toolbar #navBar color="primary">
  <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center" >
      <div #logo class="logo"></div>
    <ul fxFlex fxLayoutAlign="space-around">
      <li *ngFor="let link of links">
        <ng-container *ngIf="link.hasDropdown; then thenTemplate; else elseTemplate"></ng-container>
        <ng-template #thenTemplate>
          <a mat-button [mat-menu-trigger-for]="menu">{{ link.title }}</a>
        </ng-template>
        <ng-template #elseTemplate>
          <a [routerLink]="link.router" mat-button>{{ link.title }}</a>
        </ng-template>

      </li>
    </ul>
      <div fxLayoutAlign="center center">
        <mat-icon>search</mat-icon>
        <button mat-button color="accent">join us now</button>
      </div>
  </mat-toolbar-row>
</mat-toolbar>
<mat-menu xposition="before" #menu="matMenu">
  <button *ngFor="let item of dropdown" mat-menu-item [routerLink]="item.router"> {{ item.title }} </button>
</mat-menu>
