@import "../../custom-theme.scss"

section
  background-color: map-get($indiega-primary, 500)

a
  text-transform: uppercase

mat-toolbar
  background: rgba(map-get($indiega-primary, 500) ,.5) !important
  height: 150px
  padding: 0 100px
  box-shadow: 3.5px 6.1px 30px rgba(0, 0, 0, 0.57)
  transition: .3s
  &-row
    height: 100%

.scrolled
  background: map-get($indiega-primary, 500) !important
  height: 100px !important


.logo
  background-image: url('../../assets/images/logo.png')
  width: 253px
  height: 90px
  transition: all .3s ease-out
  &-scrolled
    transform: scale(.8)
    transition: all .3s ease-out

ul
  max-width: 860px

mat-icon
  font-size: 2.2rem
  height: 2.2rem

button[mat-button]
  text-transform: uppercase
  border: 2px solid map-get($indiega-primary, A100)
  border-radius: 10px
  width: 220px
  height: 60px
  line-height: 59px
  overflow: hidden
  position: relative
  display: inline-block
  margin-left: 25px
