<app-title-header></app-title-header>
<app-summary></app-summary>
<app-counts></app-counts>
<app-testimonials></app-testimonials>
<app-newsletter></app-newsletter>

<!-- TODO: Style accordions to fit the palette -->
<!-- <mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>email</mat-icon> Sample accordion text 1
      </mat-panel-title>
      <mat-panel-description>
        Lorem ipsum dolor sit amet consectetur
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum dolore praesentium in adipisci voluptatibus sed
      exercitationem magni maxime, aperiam quo consequatur libero deserunt modi non ad similique illo corporis
      consectetur!</p>
  </mat-expansion-panel>
</mat-accordion> -->
