<section fxLayout="row" fxLayoutAlign="center center">
  <div class="wrapper">
    <div fxFlex fxLayout="row" fxLayoutAlign="space-between center" class="tab-wrapper">
      <div fxFlex="50%" fxFlexOrder="2" class="vid-wrapper">
        <div  class="video"></div>
      </div>
      <div fxFlexOrder="1" fxFlex="50%" class="text-content">
        <div fxLayout="row nowrap" fxLayoutAlign="start end" class="title-wrapper">
          <span class="number">12</span>
          <span class="title">
            <span class="shadow">years in</span>
            games experience
        </span>
        </div>
        <p>
          Chicken doner salami meatloaf picanha, pastrami short ribs kevin. Venison beef burgdoggen pork loin bacon, cow turkey.
          Hamburger kevin sirloin chuck, meatloaf pig picanha pancetta ham shank rump.
        </p>
        <p>
          Pastrami picanha pig filet mignon, hamburger landjaeger sirloin pancetta tenderloin tongue doner. Shoulder venison
          burgdoggen, doner shank short ribs ball tip cupim tongue. Shankle flank kevin pastrami bresaola pig ham. Pork beef
          venison landjaeger filet mignon.
        </p>
        <p><mat-icon>check</mat-icon> Buffalo drumstick doner short</p>
        <p><mat-icon>check</mat-icon>Loin pork chop strip steak ground round.</p>
      </div>
    </div>
  </div>
</section>
