<section fxLayout="row" fxLayoutAlign="center center">
  <ngu-carousel #myCarousel [inputs]="carouselTileConfig" [dataSource]="tiles">
    <ngu-tile fxLayout="column" fxLayoutAlign="center center" *nguCarouselDef="let item" class="tile">
      <div
      class="global--bg-image"
      [style.background]="'url('+item.image+')'"
      [style.backgroundSize]="'cover'"
      [style.backgroundPosition]="'50% 50%'"></div>
      <div class="content" fxLayout="column" fxLayoutAlign="center center">
        <h3> {{ item.subtitle }} </h3>
        <h2> {{ item.title }} </h2>
        <p> {{ item.text }} </p>
        <button mat-raised-button> {{ item.buttonText }} </button>
      </div>
    </ngu-tile>
    <div class="points" NguCarouselPoint>
      <div
      matRipple
      matRippleColor="accent"
      class="point"
      *ngFor="let i of myCarousel.pointNumbers; let i=index"
      [class.active]="i == myCarousel.activePoint"
      (click)="myCarousel.moveTo(i)"
      >0{{ i + 1 }}</div>
    </div>
  </ngu-carousel>
</section>
