<section fxLayout="row" fxLayoutAlign="center center">
  <div fxFlex fxLayout="column" fxLayoutAlign="center center" class="wrapper">
    <section-title fxFlex [shadow]="'All Reviews'">
      Testimonials
    </section-title>
    <ngu-carousel #myCarousel [inputs]="carouselTileConfig" [dataSource]="blockQuotes">
      <ngu-tile *nguCarouselDef="let item">
        <blockquote>
          <div class="image"></div>
          <mat-icon>
            format_quote
          </mat-icon>
          <div class="head-wrapper">
            <h2> {{ item.title }} </h2>
            <h3> {{ item.subtitle }} </h3>
          </div>
          <p>
            «{{ item.text }}»
          </p>
        </blockquote>
      </ngu-tile>
      <button mat-icon-button color="accent" NguCarouselPrev class="carouselButton leftRs">
        <mat-icon class="mat-18">navigate_before</mat-icon>
      </button>
      <button mat-icon-button color="accent" NguCarouselNext class="carouselButton rightRs">
        <mat-icon class="mat-18">navigate_next</mat-icon>
      </button>

    </ngu-carousel>
  </div>
</section>
