<section>
  <div class="bg"></div>
  <div fxLayout="column" fxLayoutAlign="start center" class="wrapper">
    <section-title fxFlex [shadow]="'Shadow Sample #2'">Title Sample #2</section-title>
    <!-- TODO: Dynamic Implementation -->
    <div fxFlex="100%" fxLayout="row" fxLayoutAlign="space-between center">
      <a href="#">
        <mat-card>
          <img mat-card-image src="assets/images/blog-img-1.jpg">
          <div class="card-wrapper">
            <div class="top-row" fxLayout="row" fxLayoutAlign="space-between center">
              <div class="accent">XBOX</div>
              <div class="date">Mar 14, 2018</div>
            </div>
            <mat-card-title-group>
              <mat-card-title>Mat Card Title</mat-card-title>
            </mat-card-title-group>
            <mat-card-content>
              Mat Card Content amet consectetur adipisicing elit. Dignissimos saepe esse ipsam repellendus quaerat
              similique
              labore, porro inventore rerum. Enim obcaecati eum libero quam amet. Sed aperiam sit magni veniam?
            </mat-card-content>
          </div>
          <mat-card-footer fxLayout="row" fxLayoutAlign="space-between start">
            <div fxLayoutAlign="space-between center">
              <mat-icon class="accent">person</mat-icon>By Admin
            </div>
            <div fxLayoutAlign="space-between center">
              <mat-icon class="accent">chat_bubble</mat-icon>456
            </div>
          </mat-card-footer>
        </mat-card>
      </a>
      <a href="#">
        <mat-card>
          <img mat-card-image src="assets/images/blog-img-1.jpg">
          <div class="card-wrapper">
            <div class="top-row" fxLayout="row" fxLayoutAlign="space-between center">
              <div class="accent">XBOX</div>
              <div class="date">Mar 14, 2018</div>
            </div>
            <mat-card-title-group>
              <mat-card-title>Mat Card Title</mat-card-title>
            </mat-card-title-group>
            <mat-card-content>
              Mat Card Content amet consectetur adipisicing elit. Dignissimos saepe esse ipsam repellendus quaerat
              similique
              labore, porro inventore rerum. Enim obcaecati eum libero quam amet. Sed aperiam sit magni veniam?
            </mat-card-content>
          </div>
          <mat-card-footer fxLayout="row" fxLayoutAlign="space-between start">
            <div fxLayoutAlign="space-between center">
              <mat-icon class="accent">person</mat-icon>By Admin
            </div>
            <div fxLayoutAlign="space-between center">
              <mat-icon class="accent">chat_bubble</mat-icon>456
            </div>
          </mat-card-footer>
        </mat-card>
      </a>
      <a href="#">
        <mat-card>
          <img mat-card-image src="assets/images/blog-img-1.jpg">
          <div class="card-wrapper">
            <div class="top-row" fxLayout="row" fxLayoutAlign="space-between center">
              <div class="accent">XBOX</div>
              <div class="date">Mar 14, 2018</div>
            </div>
            <mat-card-title-group>
              <mat-card-title>Mat Card Title</mat-card-title>
            </mat-card-title-group>
            <mat-card-content>
              Mat Card Content amet consectetur adipisicing elit. Dignissimos saepe esse ipsam repellendus quaerat
              similique
              labore, porro inventore rerum. Enim obcaecati eum libero quam amet. Sed aperiam sit magni veniam?
            </mat-card-content>
          </div>
          <mat-card-footer fxLayout="row" fxLayoutAlign="space-between start">
            <div fxLayoutAlign="space-between center">
              <mat-icon class="accent">person</mat-icon>By Admin
            </div>
            <div fxLayoutAlign="space-between center">
              <mat-icon class="accent">chat_bubble</mat-icon>456
            </div>
          </mat-card-footer>
        </mat-card>
      </a>
    </div>
  </div>

</section>
