<app-title-header></app-title-header>
<section fxLayout="row" fxLayoutAlign="center center">
  <div class="wrapper">
    <mat-accordion>
      <mat-expansion-panel (opened)="isOpened = true" (closed)="isOpened = false" *ngFor="let core of coreValues; trackBy: trackByFn">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>email</mat-icon>{{ core.title }}
          </mat-panel-title>
          <mat-panel-description>
            {{ core.subtitle }}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>
          {{ core.text }}
        </p>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</section>
