<app-hero-carousel></app-hero-carousel>
<section fxLayout="row" fxLayoutAlign="center center">
  <div class="wrapper">
    <mat-accordion>
      <mat-expansion-panel (opened)="isOpened = true" (closed)="isOpened = false" *ngFor="let panel of panels; trackBy: trackByFn">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>email</mat-icon>{{ panel.title }}
          </mat-panel-title>
          <mat-panel-description>
            {{ panel.subtitle }}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>
          {{ panel.text }}
        </p>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</section>
